@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

:root { 
    --RobotoC: 'Roboto Condensed', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
 }

.nav-color { 
    color: #846219;
    

 }

.container-logo { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    max-width: 310px;
    padding: 20px;
}

.grid { 
    display: grid;
    grid-template-areas: 1fr 1fr;
    grid-template-rows: repeat(5);
    
    
}

.section1 { 
    background-color: #E9E9E9;
    grid-column: 1/3;
    height: 100vh;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.img-textoprincipal { 
    margin-top: 20px;
}


.section2 {
    font-family: var(--RobotoC); 
    background-color: #506FA9;
    grid-column: 1/3;
    height: 100vh;
    width: 100%;
    padding: 30px 5px 30px 30px;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}



.text-pre{
    color: white; 
    margin: 50px 0 0 0;  
         
}


footer { 
    background-color: #E9E9E9;
    height: 226px;
    grid-column: 1/3;
}

.container-footer { 
    height: 195px;
}

.titulos {
    font-family: var(--RobotoC);
    font-weight: 900;
    color: #716565;
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    width: 51%;
    padding: 25px;
}

.contato { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 52%;
    padding: 10px;    
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}

@media (max-width: 500px) { 
.logo-name{
    display: none;
}
.section1 { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.img-textoprincipal { 
    width: 90%;
}

.img-sec1 { 
    width: 90%;
}


.section2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;        
}

.img-sec2 { 
    width: 100%;
}

footer { 
    width: 100%;
}

.titulos { 
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contato { 
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}



}